* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   }

body {
    background: #EAEAEA;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 15px;
   
}

.main {
    margin: 2em 15em 3em;
    padding: 3.5%;
    box-sizing: flex;
    background: #FFFFFF;
    line-height:26px;
    border-radius: 10px;
}

img {
    object-fit:cover;
    border-radius: 10px;
}

figcaption {
    text-align: right;
    font-size: 12px;
    font-weight: 400;
}


h1 {font: #1B1B1B center 28px;
    font-weight: 700;
    text-align: center;

}

h2 {font: #1B1B1B 20px;
    font-weight: 700;
    text-align: center;

}

h3 {
    font: #39393A 22px;
    font-weight: 700;
    text-align: center;
}

ul {
    font-weight:400;
    line-height:26px;
}

ol {
    font-weight:400;
    line-height:26px;
}

footer {font:#8F8F8F;
    font-size: 12px;
    font-weight: 400;
    text-align: center;
}

